body {
font-size: 15px;
font-family: 'Noto Sans JP', sans-serif;
text-justify:center;
 }


h1{
text-justify: center;
font-size: 34px;
font-weight: bold; }

h2{
font-size: 20px;
line-height: 1;
font-weight: lighter;
letter-spacing: 3px
text-justify: center; }

h3{
font-size: 24px;
line-height: 5;
font-weight: bold;
letter-spacing: 5px 
text-justify: center;}

a {
color: white;
background-color: #582900;
font-weight: bold;
text-decoration: none; }

p {

letter-spacing: 5px;
text-justify: justify;}

div {

width: 400px;
height:900px;
margin: 20px;
padding: 20px 20px;
border: 1px black;
margin-bottom: 0px;
}

img-circle {
	border-radius: 50%;

}

/* Custom class design*/


.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/0034_5A.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 150px 0;
}

.banner h1 { 
	font-size: 50px;
	margin : 0;
	font-weight: bold;
}


.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 2px
}

.card-white {
  background: white;
  border-radius: 1px;
  width: auto;
  text-align: center;
  padding: 24px;
  margin: 0px;

}

.card-white img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 1px;
}

.card-white p {
	margin-bottom: 0;
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
  

